body {
    background-color: #023c4d;
}

.cont {
    display: flex;
    background-color: red;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5%;
    width: 600px;
    height: auto;
}

.row {
    background-color: black;
    width: 100%;
    display: flex;
}

.square {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #0d4848;
    border: 1px outset #1f6357;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    background-color: #1f6357;
    border-color: #0d4848;
    width: 200px;
}